.breadcrumb {
    display: none;
}

.footer {
    background: #323232;
    color: #fff;
    padding: $grid-gutter-width 0 $grid-gutter-width/2;

    a {
        color: #fff;
    }

    .footer-contribute {
        margin-left: 3em;
    }
}

.navbar-default .navbar-brand {
    color: $brand-primary;
}

.row-flex {
    display: flex;

    > div[class*='col-'] {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
    }
}
