pre,
code {
    font-family: 'Ubuntu Mono', monospace;
}

h1, h2 {
    font-family: $font-family-serif;
}

h1 {
    &.name {
        font-size: $font-size-h1 * 2.2;

        font-weight: 900;

        img {
            vertical-align: bottom;
        }
    }
}

hr {
    border-top: 4px solid #5d4f85;
}

@font-face {
    font-family: 'Haskell';
    src:url('/static/fonts/Haskell.eot');
    src:url('/static/fonts/Haskell.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/Haskell.woff') format('woff'),
    url('/static/fonts/Haskell.ttf') format('truetype'),
    url('/static/fonts/Haskell.svg#Haskell') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
    font-family: $font-family-serif;
    font-weight: 900;

    .logo {
        font-family: Haskell;
        font-weight: 400;

        margin-right: 0.125em;

        vertical-align: bottom;
    }
}
